{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "block-no-empty": null,
    "selector-pseudo-class-no-unknown": null,
    "number-leading-zero": null,
    "order/properties-alphabetical-order": true
  }
}